body {
    margin: 0%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
}

.font-size {
    font-size: 20px;
}

.bannar-container {
    color: white;
    line-height: 50px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    text-align: center;
}

.buttons {
    color: white;
    background-color: rgb(243, 129, 98);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.donate-part {
    text-align: center;
    background-color: rgb(226, 236, 245);
    margin: 10px 10px;
    padding: 0px 10px;
    border-radius: 5px;

}

.donate-part1 {
    text-align: center;
    margin-top: 10px;
}

.donate-section {
    display: flex;
    padding: 0px 25%;


}

#special-donate {
    text-align: center;
    background-color: rgb(251, 246, 245);
    margin: 10px 10px;
    padding: 0px 10px;
    border-radius: 5px;
    color: tomato;
    border: 5px solid tomato;
}

.input-customise {
    font-size: 20px;
    width: 500px;
    height: 10px;
    border: none;
    padding: 10px 15%;
    margin: 5px 25%;
    border-bottom: 2px solid gray;
}