body {
    margin: 0%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
}

.font-size {
    font-size: 20px;
}

.bannar-container {
    color: white;
    line-height: 50px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    text-align: center;
}

.buttons {
    color: white;
    background-color: rgb(243, 129, 98);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.donate-part {
    text-align: center;
    background-color: rgb(226, 236, 245);

}

.donate-part1 {
    text-align: center;
}

.donate-section {
    display: flex;


}

#special-donate {
    text-align: center;
    background-color: rgb(251, 246, 245);
    color: tomato;
    border: 1px solid tomato;
}